

<nav ng-controller="NavCtrl" class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
        aria-expanded="false">
        <a ng-href="#!/?????pins-view?????">Finterest</a>
        </button>
            <ul class="nav navbar-nav navbar-right">
                <li><a ng-href="#!/PLACEHOLDER=STRETCH">Explore</a></li>
                <li><a ng-href="#!/profile">Profile</a></li>
                <li><a ng-href="#!/auth">Logout</a></li>
            </ul>
        </div>
    </div>
</nav>

